@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  /* src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2'); */
  src: url("./tipo/Inter/Inter-VariableFont_slnt\,wght.ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* GERAL */

h1 {
  font-weight: 800;
  font-size: 2.8rem;
}

h2 {
  font-weight: 800;
  font-size: 2.2rem;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.white {
  color: #fff;
}

.blue {
  color: #223a5f;
}

.green {
  color: #5eb398;
}

.red {
  color: #ff5e4e;
}

.row {
  max-width: 100%;
}

.btn {
  padding: 10px 35px;
  background-color: transparent;
  font-weight: 600;
  flex-basis: max-content;
  transition: all 0.5s ease-in-out;
}

.btn.btnFill {
  background-color: #223a5f;
  color: #fff;
  border: 2px solid #223a5f;
}

.btnFill:hover {
  background-color: #fff;
  color: #223a5f;
}

.btn.btnBorderRed {
  border: 2px solid #ff5e4e;
  color: #ff5e4e;
}

.btn.btnBorderRed:hover {
  background-color: #ff5e4e;
  color: #fff;
}

.btn.btnInfo {
  background-color: #ebeff0;
  font-family: "Lora", Times, serif;
  padding: 6px 22px;
  border: 2px solid #ebeff0;
  font-size: 1.4rem;
  font-weight: 900;
  margin-left: 20px;
}

.form-label {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 0;
}

.form-control,
.form-control:focus {
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(94, 179, 152, 0.4);
  font-weight: 500;
  height: auto;
  border: none;
}

.alignBtns {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.warning {
  display: none;
  color: #ff5e4e;
  font-weight: 500;
  margin: 30px 0 -15px !important;
  font-size: 1.05rem;
  text-align: right;
}

.frame {
  width: 88%;
  max-width: 100%;
  padding: 60px;
}

/* NAVBAR */
#navBar {
  background-color: #5eb398;
  width: 12%;
  height: 100vh;
  padding: 60px 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

#navBar .row,
#navBar .col {
  margin: 0;
  padding: 0;
}

#navBar .logotipo {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.row#topicsMenu {
  height: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.linksMenu img {
  width: 45px;
  display: block;
  margin: 10px auto;
}

.linksMenu p {
  width: 85%;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  margin: auto;
}

/* LOGIN / REGISTO */
#bgMain,
#noBgMain {
  max-width: 50%;
  height: 100vh;
  max-height: 100vh;
}

#bgMain {
  padding: 100px 0;
  background-color: #5eb398;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#noBgMain {
  padding: 60px 40px 80px;
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.mainComponents {
  max-width: 85%;
  text-align: center;
  margin: 0 auto;
}

h1.mainComponents {
  margin-top: 40px;
  margin-bottom: 0;
}

p.mainComponents {
  margin-top: 20px;
}

#bgMain img {
  height: 50vh;
  margin: 0 auto;
  display: block;
}

#noBgMain .row {
  margin: 0;
}

#noBgMain h1 {
  margin: 0 0 20px 0;
  padding: 0;
}

#noBgMain p {
  margin: 0;
  padding: 0;
}

#noBgMain .btnFill {
  margin: 30px 0;
}

.row#infoHelp {
  width: 100%;
  margin: 80px 0 0;
  clear: both;
  justify-content: space-between;
}

#infoHelp .col {
  margin: 0;
  padding: 0;
}

#infoHelp .col:first-of-type {
  flex: 0 0 62%;
}

#infoHelp .col:last-of-type {
  flex: 0 0 30%;
  display: flex;
  align-items: flex-start;
  flex-basis: max-content;
}

#infoHelp .col:last-of-type .btn {
  width: 100%;
  flex: 0 0 100%;
}

/* HOME */
#emergency img {
  height: 20px;
  fill: #ff5e4e;
  margin-right: 12px;
}

/***** SOlitário *****/
.heart,
.tile {
  fill: red;
}

.clover,
.pike {
  fill: black;
}

#app {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
}

#container {
  position: relative;
  width: 770px;
  margin: 0 auto;
}

.congratulation {
  color: white;
  font-size: 2em;
  text-align: center;
}

.header {
  margin: 10px;
  height: 126px;
}

.stock,
.rest,
.flop,
.foundation {
  vertical-align: top;
  display: inline-block;
}

.rest {
  margin-right: 95px;
}
.rest .cardContainer {
  position: relative;
  width: 3px;
  perspective: 500px;
  display: inline-block;
}
.rest .cardContainer card {
  display: inline-block;
}

.flop .cardContainer {
  position: relative;
  width: 30px;
  perspective: 500px;
  display: inline-block;
}
.flop .cardContainer card {
  display: inline-block;
}

.foundation {
  position: absolute;
  right: 10px;
}
.foundation .pile {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 20px;
}
.foundation .pile .cardContainer {
  position: absolute;
}

.tableau {
  white-space: nowrap;
}
.tableau .pile {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  width: 90px;
}
.tableau .pile .cardContainer {
  position: relative;
  height: 40px;
  perspective: 500px;
}

.cardFace,
.dropTarget,
.foundation > .pile {
  width: 90px;
  height: 126px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #c4c4c4;
}

.cardFace {
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cardFace.frontFace[draggable="true"] {
  cursor: -webkit-grab;
  cursor: grab;
}
.cardFace.backFace {
  background-color: lightgray;
  position: absolute;
  top: 0;
}
.cardFace.pointer {
  cursor: pointer;
}
.cardFace h1 {
  font-size: 25px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  margin-right: 5px;
}
.cardFace h1.HEART,
.cardFace h1.TILE {
  color: red;
}
.cardFace h1.CLOVER,
.cardFace h1.PIKE {
  color: black;
}
.cardFace .suitIcon {
  padding-left: 5px;
}

.dropTarget {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
}
.dropTarget h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  color: #11937c;
  font-size: 25px;
  text-align: center;
  line-height: 126px;
  vertical-align: middle;
}

@media only screen and (orientation: portrait) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
}
