/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  /* src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2'); */
  src: url("./tipo/Inter/Inter-VariableFont_slnt\,wght.ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* GERAL */

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 800;
  font-size: 2.2rem;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.white {
  color: #fff;
}

.blue {
  color: #223a5f;
}

.green {
  color: #5eb398;
}

.red {
  color: #ff5e4e;
}

.row {
  max-width: 100%;
}

.btn {
  padding: 10px 35px;
  background-color: transparent;
  font-weight: 600;
  flex-basis: max-content;
  transition: all 0.5s ease-in-out;
}

.btn.btnFill {
  background-color: #223a5f;
  color: #fff;
  border: 2px solid #223a5f;
}

.btnFill:hover {
  background-color: #fff;
  color: #223a5f;
}

.btn.btnBorderRed {
  border: 2px solid #ff5e4e;
  color: #ff5e4e;
}

.btn.btnBorderRed:hover {
  background-color: #ff5e4e;
  color: #fff;
}

.btn.btnInfo {
  background-color: #ebeff0;
}

.form-label {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 0;
}

.form-control,
.form-control:focus {
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(94, 179, 152, 0.4);
  font-weight: 500;
  height: auto;
  border: none;
}

.alignBtns {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.warning {
  display: none;
  color: #ff5e4e;
  font-weight: 500;
  margin: 30px 0 -15px !important;
  font-size: 1.05rem;
  text-align: right;
}

/* LOGIN / REGISTO */
#bgMain,
#noBgMain {
  max-width: 50%;
  height: 100vh;
  max-height: 100vh;
}

#bgMain {
  padding: 100px 0;
  background-color: #5eb398;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#noBgMain {
  padding: 60px 40px 80px;
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.mainComponents {
  max-width: 85%;
  text-align: center;
  margin: 0 auto;
}

h1.mainComponents {
  margin-top: 40px;
  margin-bottom: 0;
}

p.mainComponents {
  margin-top: 20px;
}

#bgMain img {
  height: 50vh;
  margin: 0 auto;
  display: block;
}

#noBgMain .row {
  margin: 0;
}

#noBgMain h1 {
  margin: 0 0 20px 0;
  padding: 0;
}

#noBgMain p {
  margin: 0;
  padding: 0;
}

#noBgMain .btnFill {
  margin: 30px 0;
}

.row#infoHelp {
  width: 100%;
  margin: 80px 0 0;
  clear: both;
  justify-content: space-between;
}

#infoHelp .col {
  margin: 0;
  padding: 0;
}

#infoHelp .col:first-of-type {
  flex: 0 0 62%;
}

#infoHelp .col:last-of-type {
  flex: 0 0 30%;
  display: flex;
  align-items: flex-start;
  flex-basis: max-content;
}

#infoHelp .col:last-of-type .btn {
  width: 100%;
  flex: 0 0 100%;
}
